{% extends 'layout.html' %}
{% block content %}
<div class="flex items-center justify-center">
  <div class="card w-96 sm:max-w-[90%] rounded-lg p-6 bg-base-100 shadow-xl">
    <h1 class="text-2xl font-semibold text-center mb-4">Вход в аккаунт</h1>

    <!-- Login Form -->
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        
        <!-- Non-field Errors -->
        {% if form.non_field_errors %}
        <div class="alert alert-error mb-4">
          {% for error in form.non_field_errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}
        
        <!-- Email/Username Field -->
        <div class="mb-4">
          <label for="username" class="block text-gray-700 mb-1">Email или логин</label>
          <input
            type="text"
            id="username"
            name="username"
            class="input input-bordered w-full"
            placeholder="Введите ваш email или логин"
            required
          />
          {% if form.username.errors %}
          <div class="text-sm text-red-500 mt-1">
            {% for error in form.username.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% endif %}
        </div>
        
        <!-- Password Field -->
        <div class="mb-4">
          <label for="password" class="block text-gray-700 mb-1">Пароль</label>
          <input
            type="password"
            id="password"
            name="password"
            class="input input-bordered w-full"
            placeholder="Введите ваш пароль"
            required
          />
          {% if form.password.errors %}
          <div class="text-sm text-red-500 mt-1">
            {% for error in form.password.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% endif %}
        </div>
        
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary w-full">Войти</button>
    </form>

    <!-- Footer Links -->
    <div class="text-center mt-4">
      <p class="text-sm text-gray-600">
        Нет аккаунта? 
        <a href="{% url 'register' %}"  class="text-blue-500 hover:underline">Регистрация</a>
      </p>
      <p class="text-sm text-gray-600">
        Ознакомьтесь с нашими 
        <a href="{% url 'legal_info' %}#user_agreement" class="text-blue-500 hover:underline">Пользовательским соглашением</a> и 
        <a href="{% url 'legal_info' %}#privacy_policy" class="text-blue-500 hover:underline">Политикой конфиденциальности</a>.
      </p>
    </div>
  </div>
</div>
{% endblock %}